


.body {
    background-color: rgb(116, 116, 116);
    height: 100vh;
    width: 100%;
    color: white;
}
.landingPage {
    width: 80vw;
    margin: 10px auto;
    background-color: var(--bg);
    padding: 10px;
    color: black;
}

.links {
    text-decoration: none;
    color: inherit;
    padding: 10px;
    background-color: black;
    border-radius: 20px;
}
.links:hover {
    scale: 1.3;
    color: rgb(163, 9, 9);
    background-color: rgba(200, 200, 200, .8);
}
